


body {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.47), rgb(0, 0, 0)), url("Images/amd_beauty.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: grid;

    grid-template-rows: calc(var(--logo-height) + 5px) auto auto 100px;
    grid-template-areas:
            "Banner"
            "Header"
            "Content"
            "Footer";
}

h1 {
    grid-area: Header;
    margin: 0;
    align-self: center;
}


#amd-timeline-container {
    --stripe-color: #ff8000;
    position: relative;
    display: grid;
    grid-template-columns: 100%;
}

@media screen and (max-width: 540px) {
    #amd-timeline-container {
        font-size: calc(100vh * 0.02);
    }
}

#amd-timeline {
    position: absolute;
    left: 30px;
    width: 20px;
    top: 1.5rem;
    height: calc(100% - 1.5rem - var(--last-elem-height) + 1.5rem);
    background: var(--stripe-color);
}

.generation {
    position: relative;
    display: grid;
    width: 100%;
    height: auto;

    grid-template-rows: auto auto;
    grid-template-columns: 100px 50px 1fr;

    grid-template-areas:
            "Gen-line Gen-line Gen-name"
            "Empty Gen-content Gen-content";
}

.gen-line {
    grid-area: Gen-line;
    position: relative;
    display: inline;

    & .gen-line-big-circle {
        position: absolute;
        width: 50px;
        height: 50px;
        top: calc(1.5rem - 25px);
        left: 15px;
        border-radius: 50%;
        background: var(--stripe-color);
    }

    & .gen-line-small-circle {
        position: absolute;
        width: 20px;
        height: 20px;
        top: calc(1.5rem - 10px);
        left: 30px;
        border-radius: 50%;
        background: black;
    }

    & .gen-line-stripe {
        position: absolute;
        height: 20px;
        width: calc(100% - 50px);
        top: calc(1.5rem - 10px);
        left: 50px;
        background: var(--stripe-color);
    }

}

.gen-name {
    grid-area: Gen-name;
    align-self: center;
    margin: 0;
    padding-left: 30px;
}



.current-gen-cpus {
    grid-area: Gen-content;
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    flex-wrap: wrap;
    transition: all 0.5s ease-in-out;

    & .current-gen-cpu {
        width: auto;
        cursor: pointer;
        font-size: 0.8rem;
        background: chocolate;
        border-radius: 20px;
        transition: all 0.3s ease-in-out;
        padding: 0 20px;
        margin: 10px 10px;
        height: 4rem;

        & h3 {
            font-size: 1.2rem;
        }

        .current-gen-cpu-characteristics {
            width: 100%;
            opacity: 0;


        }

        &:hover {
            height: 12rem;

            .current-gen-cpu-characteristics {
                animation: 0.3s show-gen-cpu-characteristics ease-in-out forwards;
                animation-delay: 0.3s;

            }
        }
    }
}

@keyframes show-gen-cpu-characteristics {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


