#amd_button, #intel_button, #all_button {
    display: none;
}


/* 1 ряд */
@media all {
    .first-square, .second-square {
        position: absolute;
        height: 100px;
        width: 100px;
        backdrop-filter: blur(10px);
        background-color: rgba(52, 52, 53, 0.612);
        border-radius: 10px;
        visibility: hidden;
    }
    
    .first-square {
        top: -160px;
    }
    
    .second-square {
        right: 0;
        bottom: -160px;
    }
    
    .product_card:hover .first-square {
        animation: 0.5s first_square ease-out forwards;
    }
    
    .product_card:hover .second-square {
        animation: 0.5s second_square ease-out forwards;
    }
    
    @keyframes first_square {
        from {
            visibility: visible;
            transform: translateY(0);
        }
        to {
            visibility: visible;
            transform: translateY(100px);
        }
    }
    
    @keyframes second_square {
        from {
            visibility: visible;
            transform: translateY(0);
        }
        to {
            visibility: visible;
            transform: translateY(-100px);
        }
    }
    
    .product_cards {
        margin-top: 200px;
        margin-bottom: 200px;
        position: relative;
        display: flex;
        justify-content: space-around;
        justify-items: center;
        align-items: center;
        flex-grow: 0;
        flex-wrap: wrap;
    }
    
    .product_card {
        position: relative;
        z-index: 1;
        margin-top: 100px;
        margin-bottom: 100px;
    
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: -50px;
            left: 50px;
            width: 100px;
            height: 300px;
            transform: skew(20deg);
            background: linear-gradient(-60deg, rgb(0, 136, 255), rgb(255, 71, 230));
            z-index: -1;
    
            box-shadow: 0 0 5px rgb(0, 255, 234), 0 0 25px rgb(0, 255, 234), 0 0 50px rgb(0, 255, 234);
        }
        
    }
    
    .product_card label {
        position: relative;
        width: 100%;
        text-align: center;
    }
    
    .product_card > div {
        position: relative;
        display: flex;
        width: 200px;
        height: 200px;
        border-radius: 20px;
        justify-items: center;
        align-items: center;
        backdrop-filter: blur(10px);
        background-color: rgba(52, 52, 53, 0.612);
    }
    
    .product_card:hover::before {
        animation: 0.5s product_card_hover ease-out forwards;
    }
    
    @keyframes product_card_hover {
        to {
            transform: skew(0deg);
        }
    }
}


/* 2 ряд */
@media all {
    
    .product_cards2 {
        display: flex;
        position: relative;
        margin-top: 200px;
        margin-bottom: 200px;
        
        justify-content: space-around;
        justify-items: center;
        align-items: center;
        flex-grow: 0;
        flex-wrap: wrap;
    }

    .product_card2 {
        position: relative;

        width: 15%;
        height: 50vh;
        @media screen and (max-width: 1300px) {
            width: 200px;
            height: 300px;
            
        }

        border-radius: 20px;
        &:nth-child(1):hover {
            background-image: url(Images/amd_logo.png);
            background-position: center;
            background-size: cover;
        }
        &:nth-child(2):hover {
            background-image: url(Images/intel_logo.png);
            background-position: center;
            background-size: cover;
        }
        &:nth-child(3):hover {
            background-image: url(Images/cpu_logo.png);
            background-position: center;
            background-size: cover;
        }
    }

    .product_card2 label {
        position: relative;
        width: 100%;
        text-align: center;
    }

    .product_card2 > div {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        justify-items: center;
        align-items: center;
        backdrop-filter: blur(10px);
        background-color: rgba(52, 52, 53, 0.612);

        
    }

    .product_cards2:has(> .product_card2:hover) > .product_card2 {
        filter: blur(10px);

        &:hover {
            filter: blur(0);
            transition: all 0.5s ease-in-out;
            transform: scale(1.1);
            --color: rgb(0, 200, 255);
            box-shadow: 5px 5px var(--color), 0 0 25px var(--color), 0 0 125px var(--color);
        }
    }

}


/* 3 ряд */
@media all {
    .product_cards3 {
        display: flex;
        position: relative;
        margin-top: 200px;
        margin-bottom: 200px;
        width: 100%;
        height: 100%;
        
        justify-content: space-around;
        justify-items: center;
        align-items: center;
        flex-grow: 0;
        flex-wrap: wrap;
        z-index: 1;
    }


    .product_card3 label {
        position: relative;
        width: 100%;
        text-align: center;
    }

    .product_card3 > div {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        justify-items: center;
        align-items: center;
        border-radius: inherit;
        z-index: 10;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            background: linear-gradient(to right, rgb(0, 217, 255), rgb(0, 255, 145));

            
        }
        
    }

    

    .product_card3 {
        position: relative;
        border-radius: 10px;
        width: 15%;
        height: 50vh;

        @media screen and (max-width: 1300px) {
            width: 200px;
            height: 300px;
            
        }

        &:hover > div {
            visibility: hidden;

            &::before {
                transition: all 0.2s linear;
                transform: translateX(100%);
            }
            
        }

        &:nth-child(1)::after {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            border-radius: inherit;
            background-image: url(Images/amd_beauty.jpg);
            background-position: center;
            background-size: cover;
        }
        &:nth-child(2)::after {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            border-radius: inherit;
            background-image: url(Images/intel_beauty.jpg);
            background-position: center;
            background-size: cover;
        }
        &:nth-child(3)::after {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            border-radius: inherit;
            background-image: url(Images/cpu_beauty.jpg);
            background-position: center;
            background-size: cover;
        }

        &:hover {
            transition: all 0.2s linear;
            transform: scale(1.1);
        }

        

        &:hover::before {
            content: '';
            position: absolute;
            display: block;
            width: 102%;
            height: 102%;
            top: -1%;
            left: -1%;
            border-radius: inherit;
            background: conic-gradient(from var(--a),  
            rgb(217, 0, 255) 0%, transparent 0%, transparent 40%, 
            rgb(217, 0, 255) 50%, transparent 50%, transparent 90%,
            rgb(217, 0, 255) 100%);
            animation: 2s border_point linear infinite;
            z-index: -1;
        }
        
    }

    @property --a {
        syntax: '<angle>';
        inherits: false;
        initial-value: 0deg;
    }

    @keyframes border_point {
        0% {
            --a: 0deg;
        }
        100% {
            --a: 360deg;
        }
    }

    .product_cards3:has(> .product_card3:hover) > .product_card3 {
        filter: brightness(50%);

        &:hover {
            filter: brightness(100%);
        }
    }
}